$blue-color: #039dff

*,* ::after, *::before
    box-sizing: border-box
    margin: 0
    padding: 0

html
    scroll-behavior: smooth

body
    position: relative
    font-family: 'Montserrat', sans-serif
    background-color: #333
.blue-text
    color: $blue-color

.wrapper
    max-width: 2560px
    width: 80%
    margin: 0 auto

    h2
        text-transform: uppercase
        text-align: center

.underline
    margin: 20px auto
    width: 60px
    height: 4px
    background-color: $blue-color

.scroll-fix::before
    display: block
    margin-top: -66px
    height: 66px
    content: ''

.visibility
    visibility: hidden

.jumbotron
    margin: 0
//Nav
nav
    text-transform: uppercase
    transition: background-color .5s

    a,i
        color: #fff
        transition: color .3s
    i
        padding: 10px
    a:hover
        color: $blue-color
    .navbar-brand
        font-weight: bold
    .active
        color: $blue-color
.shadow-bg
    background-color: rgba(0,0,0,.8)

    // Header
header
    color: #fff
    overflow: hidden
    h1
        padding: 10px
        text-transform: uppercase
        font-size: 30px
    .hero-img
        position: relative
        height: 100vh
        background-image: url('../img/chess-mobile.jpg')
        background-position: center
        background-size: cover
        background-attachment: fixed
        z-index: 0

    .hero-shadow
        position: absolute
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .8)
        z-index: -10

    .hero-text
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        flex-direction: column
        text-align: center
        p
            padding: 10px
            font-size: 14px

    .btn-outline-light
        text-transform: uppercase
    .fa-chevron-down
        display: none

//main

#aboutus
    i
        font-size: 30px
        margin-top: 20px
    h3
        font-size: 18px
        text-transform: uppercase
    p
        font-size: 14px

    .aboutus-hover
        transition: color .3s
        visibility: hidden

    .aboutus-hover:hover

        color: $blue-color
#aboutus-hero
    color: #ddd
    .jumbotron
        position: relative
        padding: 60px 0px
        background-image: url('../img/chess-mobile.jpg')
        background-position: center
        background-size: cover
        z-index: 0

        h2
            font-size: 32px
        h3
            text-transform: uppercase
        i
            font-size: 35px
        p
            font-size: 14px

    .about-shadow
        position: absolute
        top: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .7)
        z-index: -10
    .about-hero-item
        margin: 10px 0

//portfolio
#portfolio
    h2
        text-align: center
        text-transform: uppercase
    .carousel-item
        position: relative
        height: 600px
        img
            position: absolute
            height: 100%
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

    .carousel-caption
        position: absolute
        left: 0
        right: 0
        padding: 40px 0
        background-color: rgba(0, 0, 0, .8)
    .carousel-indicators
        padding-bottom: 20px

@media screen and ( min-width: 375px )
    header
        .hero-text
            h1
                font-size: 36px
            p
                font-size: 16px
    #aboutus-hero
        .jumbotron
            h2
                font-size: 36px
            h3
                font-size: 32px
            p
                font-size: 18px
@media screen and ( min-width: 414px )
    #aboutus-hero
        .jumbotron
            padding: 80px 0
