*,* ::after, *::before
    box-sizing: border-box
    margin: 0
    padding: 0

html
    scroll-behavior: smooth

body
    position: relative
    font-family: 'Montserrat', sans-serif
    background-color: #333

//Navigacja
nav
    text-transform: uppercase

    a,i
        color: #fff
        transition: color .3s
    i
        padding: 10px
    a:hover
        color: #039dff
    .navbar-brand
        font-weight: bold
    .active
        color: #039dff
